/* ----- common css ----- */
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

img {
    vertical-align: middle;
}

ul,
ol,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

:root {
    --header_bg: #2C3B4E;
    --body_bg: #E9EBEE;
    --dev_bg: #FFFFFF;
    --font_family_h: 'Rotobo';
    --font-family_b: 'Open Sans';
    --div_color: #fff;
    --text_color: #666666;
    --text_color_black: #222;
}

body {
    background: #f2f2f2;
    overflow-x: hidden;
}

/* ===== common css end ===== */

/* ========== main css start ========== */
/* common div design */
.common_div_design {
    padding: 30px;
    background: var(--div_color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* header css start */
#header {
    /* top:0;
    left:0;
    position: fixed; */
    width: 100%;
    z-index: 1000;
    padding: 15px;
    background: var(--header_bg);
}

.my_stick_bg {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    animation: sticky 0.5 linear;
    -webkit-animation: sticky 0.5 linear;
}

@keyframes sticky {
    from {
        top: -100px;
    }

    to {
        top: 0;
    }
}

.navbar_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav_logo h2 {
    font-family: var(--font_family_h);
    color: #fff;
}

.nav_search {
    position: relative;
}

.nav_search i {
    position: absolute;
    left: 10px;
    top: 15px;
    color: var(--text_color);
}

.nav_search input {
    padding: 7px 40px;
    width: 400px;
    border: 1px solid #E9EBEE;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

/* nav menu big screen */


.nav_menu ul li {
    display: inline-block;
}

.nav_menu ul li a i {
    font-size: 25px;
    padding: 10px;
    color: #EAECEE;
    position: relative;
}



.nav_menu ul li a i::after {
    position: absolute;
    content: '';
    width: 40px;
    height: 2px;
    background: #fff;
    bottom: -15px;
    left: 5px;
    visibility: hidden;
}

.nav_menu ul li a i:hover {
    visibility: visible !important;
}

/* nav menu for big screen end */
.small_device_menu {
    display: none;
}

.nav_user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_user img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.nav_user i {
    font-size: 20px;
    color: #fff;
    padding-left: 5px;
}

.nav_user h2 {
    font-family: 'Roboto slab';
    padding-left: 10px;
    font-size: 18px;
    color: #fff;
}

/* banner section css */

#banner {
    margin-top: 10px;
}

.extra_class{
    height: 100vh;
    overflow-x: hidden;
}
.left_side_div {
    width: 265px;
    position: fixed;
}


.left_side_bar {
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.left_side_bar h3 {
    font-family: var(--font_family_b);
    font-size: 24px;
    color: var(--text_color_black);
    padding-bottom: 10px;
}

.left_side_bar ul li a {
    padding: 5px 0;
    font-size: 17px;
    font-family: var(--font_family_b);
    color: var(--text_color);
}


.left_add_section {
    margin-top: 10px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.left_add_section h3 {
    font-family: var(--font_family_b);
    font-size: 25px;
    color: var(--text_color_black);
}

.add_img_main {
    display: flex;
    justify-content: space-between;
}

.add_img img {
    width: 100%;
    padding-top: 10px;
}

.left_div_wrapper{
    margin-top: 10px;
}

.left_div_wrapper h6{
    padding-bottom: 10px;
    font-weight: 700;
    font-family: var(--font-family_b);
    color: var(--text_color_black);
}
.left_suggesion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggesion_img img {
    border-radius: 50%;
    margin-right: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.suggesion_img span {
    font-family: var(--font_family_b);
    font-size: 15px;
    color: var(--text_color);
}

.suggesion_btn a {
    padding: 7px 9px;
    border: 1px solid #f2f2f2;
    color: var(--text_color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.right_side_div {
    position: fixed !important;
    overflow: hidden;
    width: 265px;
}

.right_followers h3 {
    font-family: var(--font-family_b);
    font-size: 18px;
}

.follower_img img {
    border-radius: 50%;
    margin-right: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.follower_box {
    display: flex;
    align-items: center;
}

.follower_box h6 {
    font-family: var(--font_family_b);
    font-size: 16px;
    color: var(--text_color_black);
}

.follower_box p {
    font-family: var(--font_family_b);
    font-size: 15px;
    color: var(--text_color);
}

.follower_btn {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.ignore {
    padding: 7px 26px;
    border: 1px solid #c7c5c5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-right: 7px;
    color: var(--text_color)
}

.follow {
    padding: 7px 26px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: #DB2025;
    color: var(--body_bg);
}

/* friend zome part */
.friend_zone {
    margin-top: 10px;
}

.friend_zone h5 {
    font-family: var(--font_family_b);
    font-weight: 500;
    font-size: 20px;
}

.fzone_search_box {
    margin-top: 20px;
    position: relative;
}

.fzone_search_box input {
    padding: 7px 40px;
    width: 100%;
    border-radius: 35px;
    background: #F5F5F5;
    border: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.fzone_search_box i {
    position: absolute;
    top: 13px;
    left: 15px;
    color: var(--text_color);

}

.chat_box_wrapper {
    margin-top: 20px;
}

.chat_person_item {
    padding: 10px 0;
}

.chat_person_item img {
    border-radius: 50%;
    margin-right: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* story create part css */
.story_wrapper {
    display: flex;
}

.create_story {
    width: 25%;
    height: 170px;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-right: 10px;
}

.story_up_div {
    width: 100%;
    height: 100%;
}

.story_up_div img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.story_down_div {
    width: 100%;
    height: 50px;
    background: #1E1E1E;
    position: absolute;
    bottom: 0;
    border-radius: 20px 20px 5px 5px;
    -webkit-border-radius: 20px 20px 5px 5px;
    -moz-border-radius: 20px 20px 5px 5px;
    -ms-border-radius: 20px 20px 5px 5px;
    -o-border-radius: 20px 20px 5px 5px;
}

.add_icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add_icon i {
    position: absolute;
    color: #fff;
    font-size: 20px;
    text-align: center;
    background: #2374E1;
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* created story */
.story_item {
    width: 25%;
    height: 170px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.story_photo {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.story_photo img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.story_profile_photo {
    position: absolute;
    top: 20px;
    right: 20px;
}

.story_profile_photo img {
    width: 30px;
    height: 30px;
    border: 2px solid #666666;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.story_profile_name {
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.story_profile_name p {
    font-size: 16px;
    font-family: var(--font_family_b);
    color: var(--text_color_black);

}

/* create post section css */

.create_post {
    margin-top: 10px;
}

.post_upload_field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post_user_photo img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.post_user_input form input {
    padding: 7px 20px;
    width: 420px;
    border: none;
    background: #F5F5F5;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.post_operator {
    display: flex;
    justify-content: space-between;
}

/* poll section css start */
.public_poll_wrapper {
    margin-top: 20px;
}

.poll_box_item {
    padding-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.poll_box form input {
    width: 20px;
    height: 20px;
}

.poll_text {
    border: 1px solid #e3e3e4;
    width: 65%;
    margin-left: 20px;
    padding: 5px 20px;
    background: #F0F2F5;
}

.poll_text p {
    font-family: var(--font-family_b);
    font-size: 12px;
    color: var(--text_color);
}

.poll_text h5 {
    font-family: var(--font-family_b);
    font-size: 14px;
    color: var(--text_color);
}

.poll_user {
    padding-left: 50px;
}

.poll_user p {
    font-family: var(--font-family_b);
    font-size: 13px;
    color: var(--text_color);
}

.poll_user img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.poll_hide {
    position: absolute;
    right: 0;
     
}

.poll_hide i{
    margin-left:10px;
    padding: 10px;
    background: #F0F2F5;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* poll section css end */

/* comment and replay start */
.comment_replay{
    display: flex;
    margin-top: 20px;
}

.comment_replay_user{
    margin-right: 20px;
}

.comment_replay_user img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.comment_replay_detail_wrapper{
    max-width: 150px;
    padding: 10px;
    background:#eae9e9;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.comment_replay_detail{
    width: 100%;
}

.comment_replay_detail img{
    width: 100%;
}

.three_dot{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.comment_replay_detail h4{
    font-family: var(--font_family_b);
    font-size: 14px;
    color: var(--text_color_black);
    padding-bottom: 5px;
    font-weight: 600;
}
.comment_replay_react{
    display: flex;
    padding-left: 50px;
    padding-top: 10px;
}

.comment_replay_react p{
    padding-right:10px;
}

.replay_comment_wrapper{
    margin-top: 15px;
    padding-left: 50px;
}

.replay_comment{
    display: flex;
}

.replay_wrapper{

}

.replay_comment_text{
    border-radius: 10px;
    padding: 10px 20px;
    background: #eae9e9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.replay_comment_text h4{
    font-family: var(--font-family_b);
    font-size: 17px;
    font-weight: 500;
    color: var(--text_color_black);
}

 
.replay_comment_text p{
    font-family: var(--font-family_b);
    font-size: 15px;
    font-weight: 400;
    color: var(--text_color);
}
.replay_comment_user{
    margin-right: 10px;
}

.replay_comment_user img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.replay_like p,span{
    font-family: var(--font-family_b);
    font-size: 15px;
    font-weight: 400;
    color: var(--text_color);
}

.replay_comment{
    padding-left: 50px;
}






/* comment and replay end */











/* public post dev */
.public_post_dev {
    margin-top: 10px;
}

.public_post span,
p {
    display: inline-block;
    font-size: 16px;
    font-family: var(--font-family_b);
    font-weight: 400;
}

.public_post span {
    color: #DB2025;
}

/* public_post_box section start */
.public_post_box {
    margin-top: 10px;
}

.public_post_user_details {
    display: flex;
    align-items: center;
}



.public_post_user_pic {
    margin-right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.public_post_user_pic img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.public_post_user_name {
    position: relative;
    width: 100%;
}

.public_post_user_name h5 {
    font-family: var(--font-family_b);
    font-size: 15px;
    color: var(--text_color_black);
}

.public_post_user_name span {
    font-family: var(--font-family_b);
    font-size: 13px !important;
    font-weight: 300;
}

.public_post_user_name span i {
    color: #FAB005;
    font-size: 13px !important;
    font-weight: 300;
}

.public_post_user_name p {
    font-size: 13px !important;
    font-weight: 300;
}

.post_edit_box {
    box-shadow: 2px 3px 5px gray;
}

.public_post_edit {
    position: absolute;
    right: 0;
    top: 0;
}

.editbox_active {
    visibility: visible !important;
    opacity: 1 !important;

}

.post_edit_box {
    border-radius: 7px;
    z-index: 100;
    transition: 0.3s all;
    opacity: 0;
    visibility: hidden;
    padding: 20px 30px;
    width: 260px;
    right: 0;
    position: absolute;
    background: var(--dev_bg);
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.post_edit_box ul li {
    padding: 8px 0;
}

.post_edit_box ul li:last-child {
    padding: 0;
}

.post_edit_box ul li a p {
    font-size: 15px;
    color: var(--text_color);
    font-family: var(--font-family_b);
    font-weight: 400;
}

.post_edit_box ul li a i {
    color: var(--text_color)
}

/* public post title */

.public_post_title {
    padding-top: 10px;
}

.public_post_title h4 {
    font-family: var(--font-family_b);
    font-size: 16px;
    color: var(--text_color_text);
}

/* public post image 1st section */
.public_post_img {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.public_post_f_img {
    width: 49%;
    margin-top: 15px;
}

.public_post_f_img img {
    width: 100%;
}

/* public post second part */
.public_post_img2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.public_post_f_img2 {
    position: relative;
    width: 32%;
    margin-top: 15px;
}

.public_post_f_img2 img {
    width: 100%;
}

.public_post_overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.738);
}

.public_post_overlay h2 {
    color: var(--body_bg);
    font-size: 20px;
    text-align: center;
}

/* public react earned */
.publi_react_earned {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.publi_react_earned i {
    color: #DB2025;
}

.publi_react_earned p {
    font-family: var(--font-family_b);
    font-size: 15px;
    color: var(--text_color);
}

/* public react and share box css */
.public_share_box {
    margin-top: 10px;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    background: #FAFAFA;
}

.pubic_share_item i {
    color: var(--text_color);
}

.icon_avtive {
    color: #DB2025 !important;
}

/* comment down part css */

.comment_down_wrapper {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.comment_user {}

.comment_user img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.comment_edit_icon {
    display: flex;
    align-items: center;
}

.comment_edit_icon i {
    font-size: 16px;
    padding: 0 4px;
    color: var(--text_color);
}

.comment_input {
    position: relative;
}

.comment_input form i {
    position: absolute;
    top: 10px;
    right: 20px;
}

.comment_input form input {
    width: 300px;
    padding: 7px 20px;
    border-radius: 35px;
    border: none;
    background: #F0F2F5;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

/* public post feature 3 */

.public_post_img_fea3 {
    margin-top: 10px;
    max-width: 100%;
    max-height: 400px;

}

.public_post_f_img_fea3 img {
    width: 100%;
    max-height: 400px;
}

.linear_bg {
    max-width: 100%;
    background: linear-gradient(45deg, #E70921, #950670, #64049F, #3602CC);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.linear_bg h3 {
    color: var(--body_bg);
    font-family: var(--font_family_h);
    font-size: 30px;
    padding: 20px;
}

/* publlic post feature 4 */
.feature_extra {
    color: #1E1E1E !important;
}

.like_color {
    color: #2374E1 !important;
}

.angry_color {
    color: #a81717 !important;
}

.view_more_comments {
    padding: 10px 0;
}

.view_more_comments a {
    font-family: var(--font_family_b);
    font-size: 16px;
    color: var(--text_color);
}

.f7_text_design {
    line-height: 22px;
    font-family: var(--font-family_b);
    color: var(--text_color_black);
    font-size: 15px;
    font-weight: 300;
}

.wow_color {
    color: #fbc548 !important;
}

.haha_color {
    color: #fbc548 !important;
}

.fb_color {
    color: #2374E1 !important;
    font-size: 40px !important;
}

.footer {
    margin-top: 10px;
    text-align: center;
}

.footer h2 {
    font-family: var(--font_family_b);
    font-size: 30px;
    color: var(--text_color_black);
    font-weight: 700;
}

.footer p {
    font-family: var(--font_family_b);
    font-size: 16px;
    color: var(--text_color);
    font-weight: 400;
    padding-top: 10px;
}